zend_extension=xdebug.so

xdebug.cli_color=1

xdebug.var_display_max_children=128
xdebug.var_display_max_data=512
xdebug.var_display_max_depth=7
xdebug.max_nesting_level=256

xdebug.trace_enable_trigger=1
xdebug.trace_enable_trigger_value=1

xdebug.profiler_enable_trigger=1
xdebug.profiler_enable_trigger_value=1

xdebug.remote_enable=1
xdebug.remote_connect_back=1
xdebug.remote_port={{ php_xdebug_remote_port }}
xdebug.remote_log="/var/log/xdebug/xdebug.log"
