<VirtualHost *:{{ item.port|default('80') }}>
    ServerName {{ item.server_name }}
    ServerAlias {{ item.server_alias|default('*.'~item.server_name) }}
    DocumentRoot "{{ item.docroot|default('/var/www/'~item.name) }}"

    <Directory "{{ item.docroot|default('/var/www/'~item.name) }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks

        # Allow from all
        <IfModule mod_authz_core.c>
            Require all granted
        </IfModule>
        <IfModule !mod_authz_core.c>
            Order deny,allow
            Allow from all
        </IfModule>

    </Directory>

</VirtualHost>
